/* ==========================================================================
   Google Fonts
   ========================================================================== */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/CcKI4k9un7TZVWzRVT-T873hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
/* ==========================================================================
   Body stylin'
   ========================================================================== */
body {
  font-family: Raleway;
  color: #444;
  line-height: 1.2;
  font-size: 12px;
  /* text-align: justify; */
}
/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4 {
  color: #333;
  line-height: 1.375;
}
h1 {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  background-color: #CCE0FF;
}
h2 {
  font-size: 18px;
  font-weight: 500;

}
h3 {
  font-size: 18px;
  font-weight: 300;
}
p {
  font-size: 100%;
  padding-right: 3em;
}
a {
  color: #1abc9c;
  text-decoration: underline;
}
a:hover {
  color: #2ff3cc;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
#content {
  width: 62.66666666666667%; /* 470 / 750 = 0.6266666666666667 */
  margin: 0 auto;
}
#header {
  text-align: center;
}
ul {
  margin: 0 0 0 20px;
  list-style-type: circle;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}
ol {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 1em 0 1em 0;
}
ol li {
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  padding-left: 2em;
  text-indent: -2em;
  counter-increment: chapter -1;
}
ol li:before {
  font-weight: bold;
}
.A ol {
  counter-reset: chapter 22;
}
.A ol li:before {
  content: "A" counter(chapter) ". ";
}
.B ol {
  counter-reset: chapter 8;
}
.B ol li:before {
  content: "B" counter(chapter) ". ";
}
.C ol {
  counter-reset: chapter 8;
}
.C ol li:before {
  content: "C" counter(chapter) ". ";
}
.D ol {
  counter-reset: chapter 55;
}
.D ol li:before {
  content: "D" counter(chapter) ". ";
}
.E ol {
  counter-reset: chapter 20;
}
.E ol li:before {
  content: "E" counter(chapter) ". ";
}
.F ol {
  counter-reset: chapter 24;
}
.F ol li:before {
  content: "F" counter(chapter) ". ";
}
.G1 ol {
  counter-reset: chapter 17;
}
.G1 ol li:before {
  content: "G" counter(chapter) ". ";
}
.G2 ol {
  counter-reset: chapter 10;
}
.G2 ol li:before {
  content: "G" counter(chapter) ". ";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.75em;
  margin-left: 20px;
}
td {
  vertical-align: top;
  padding-right: 15px;
}
th, td {
  text-align: left;
}
